<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      html {
        background-color: khaki;
      }
    </style>
  </head>
  <body>
    <h1>This is YouTube Download</h1>

    <form method="POST" action="/youtube">
      <input type="text" name="name" />
      <button type="submit">ダウンロード</button>
    </form>
    <h1>{{message}}</h1>

    <script></script>
  </body>
</html>
